<div class="thq-section-padding">
    <div class="thq-section-max-width">
      <div class="cta-accent2-bg">
        <div class="cta-accent1-bg">
          <div class="cta-container2">
            <div class="cta-content">
              <span class="thq-heading-2">{{ heading1 }}</span>
              <p class="thq-body-large">{{ content1 }}</p>
            </div>
            <div class="cta-actions">
              <button (click)="scrollToTop()" type="button" class="thq-button-filled cta-button">
                {{ action1 }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  