<div class="thq-section-padding">
  <h2 class="thq-heading-2" style="margin-bottom: 50px;">Features</h2>
    <div class="features1-container2 thq-section-max-width">
      <div class="features1-image-container">
        <img
          [attr.alt]="feature1ImgAlt"
          [attr.src]="feature1ImgSrc"
          [class.active]="activeTab === 0"
          class="features1-image1 thq-img-ratio-16-9"
        />
        <img
          [attr.alt]="feature2ImgAlt"
          [attr.src]="feature2ImgSrc"
          [class.active]="activeTab === 1"
          class="features1-image2 thq-img-ratio-16-9"
        />
        <img
          [attr.alt]="feature3ImgAlt"
          [attr.src]="feature3ImgSrc"
          [class.active]="activeTab === 2"
          class="features1-image3 thq-img-ratio-16-9"
        />
      </div>
      <div class="features1-tabs-menu">
        <div #section1 class="features1-tab-horizontal1">
          <div class="features1-divider-container1">
            <div [class.active]="activeTab === 0" class="features1-container3"></div>
          </div>
          <div class="features1-content1">
            <h5 class="thq-heading-2">{{ feature1Title }}</h5>
            <span class="thq-body-small">{{ feature1Description }}</span>
          </div>
        </div>
        <div #section2 class="features1-tab-horizontal2" style="margin: 2rem 0;">
          <div class="features1-divider-container2">
            <div [class.active]="activeTab === 1" class="features1-container4"></div>
          </div>
          <div class="features1-content2">
            <h5 class="thq-heading-2">{{ feature2Title }}</h5>
            <span class="thq-body-small">{{ feature2Description }}</span>
          </div>
        </div>
        <div #section3 class="features1-tab-horizontal3">
          <div class="features1-divider-container3">
            <div [class.active]="activeTab === 2" class="features1-container5"></div>
          </div>
          <div class="features1-content3">
            <h5 class="thq-heading-2">{{ feature3Title }}</h5>
            <span class="thq-body-small">{{ feature3Description }}</span>
          </div>
        </div>
        <button (click)="scrollToTop()" class="thq-button-outline features1-button">Check Now!</button>
      </div>
    </div>
  </div>
  