<div class="steps-container1 thq-section-padding">
  <div class="steps-max-width thq-section-max-width">
    <div class="steps-container2 thq-grid-2">
      <div class="steps-section-header">
        <h2 class="thq-heading-2">How It Works? </h2>
        <p class="thq-body-large">
          Copyright checks can be frustrating and time-consuming for creators. Manually searching for potential copyright risks by cross-referencing large music databases can slow down the creative process. Even one wrong step could lead to severe consequences like strikes, demonetization, account suspension, etc.. That’s why we created our YouTube music copyright checker—to make the process simple and quick. 
        </p>
        <div class="steps-actions">
            <button style="margin-bottom: 50px;" (click)="scrollToTop()" class="thq-button-outline features1-button">GET STARTED!</button>
         
        </div>
      </div>
      <div class="steps-container3">
        <div class="steps-container4 thq-card">
          <h2 class="thq-heading-2">Paste the Link</h2>
          <span class="steps-text14 thq-body-small">
            First of all, paste the YouTube link to your music to our tool or enter its name. Then, our YouTube music copyright checker analyzes the link to directly check the audio from the source.
          </span>
          <label class="steps-text15 thq-heading-3">01</label>
        </div>
        <div class="steps-container5 thq-card">
          <h2 class="thq-heading-2">Database Scanning</h2>
          <span class="steps-text17 thq-body-small">
            Once you have submitted the search, our system extracts the audio and cross-checks it an extensive database that includes millions of songs and their licensing information. Don’t worry– the entire process just takes seconds to finish.
          </span>
          <label class="steps-text18 thq-heading-3">02</label>
        </div>
        <div class="steps-container6 thq-card">
          <h2 class="thq-heading-2">Get the Results</h2>
          <span class="steps-text20 thq-body-small">
            Soon, the screen will display a comprehensive report detailing the song's copyright status. It will also show the video thumbnail so that you can ensure that the tool analyzed the right audio.
          </span>
          <label class="steps-text21 thq-heading-3">03</label>
        </div>
        <div class="steps-container7 thq-card">
          <h2 class="thq-heading-2">Review and Adjust Your Content</h2>
          <span class="steps-text23 thq-body-small">
            With the detailed report in hand, you can easily identify areas of concern and make necessary adjustments before publishing your content. 
          </span>
          <label class="steps-text24 thq-heading-3">04</label>
        </div>
      </div>
    </div>
  </div>
</div>
  